<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.AnswerEntityMapper" >
  <resultMap id="BaseResultMap" type="com.fs.comm.model.AnswerEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="problemid" property="problemid" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createname" property="createname" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updatename" property="updatename" jdbcType="VARCHAR" />
    <result column="RelationName" property="relationname" jdbcType="VARCHAR" />
    <result column="Relation" property="relation" jdbcType="VARCHAR" />
    <result column="Recommend" property="recommend" jdbcType="VARCHAR" />
    <result column="Suggest" property="suggest" jdbcType="VARCHAR" />
    <result column="deflg" property="deflg" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, problemid, answer, createtime, createname, RelationName, Relation, Recommend, 
    Suggest
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.fs.comm.model.AnswerEntity" >
    select 
    <include refid="Base_Column_List" />
    from yz_answer
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 删除问题的所有答案 -->
  <update id="deleteByPrimaryKey" parameterType="com.fs.comm.model.AnswerEntity">
  	update yz_answer
    <set >
      deflg = 0,
      updatetime = #{updatetime}
    </set>
    where problemid = #{problemid,jdbcType=VARCHAR}
  </update>
  
    <!-- 恢复问题的所有答案 -->
  <update id="recoveryByPrimaryKey" parameterType="com.fs.comm.model.AnswerEntity">
  	update yz_answer
    <set >
      deflg = 1,
      updatetime = #{updatetime}
    </set>
    where problemid = #{problemid,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除问题的一个答案 -->
  <update id="deleteByid" parameterType="com.fs.comm.model.AnswerEntity">
  	update yz_answer
    <set >
      deflg = 0,
      updatetime = #{updatetime}
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 恢复问题的一个答案 -->
  <update id="recoveryByid" parameterType="com.fs.comm.model.AnswerEntity">
  	update yz_answer
    <set >
      deflg = 1,
      updatetime = #{updatetime}
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insert" parameterType="com.fs.comm.model.AnswerEntity" >
    insert into yz_answer (id, problemid, answer, 
      createtime, createname, RelationName, 
      Relation, Recommend, Suggest
      )
    values (#{id,jdbcType=INTEGER}, #{problemid,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createname,jdbcType=VARCHAR}, #{relationname,jdbcType=VARCHAR}, 
      #{relation,jdbcType=VARCHAR}, #{recommend,jdbcType=VARCHAR}, #{suggest,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fs.comm.model.AnswerEntity" >
    insert into yz_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="problemid != null" >
        problemid,
      </if>
      <if test="answerForm != null" >
        answerForm,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createname != null" >
        createname,
      </if>
      <if test="relationname != null" >
        RelationName,
      </if>
      <if test="relation != null" >
        Relation,
      </if>
      <if test="recommend != null" >
        Recommend,
      </if>
      <if test="suggest != null" >
        Suggest,
      </if>
      <if test="deflg != null" >
        deflg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="problemid != null" >
        #{problemid,jdbcType=VARCHAR},
      </if>
      <if test="answerForm != null" >
        #{answerForm,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="relationname != null" >
        #{relationname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null" >
        #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="deflg != null" >
        #{deflg},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.fs.comm.model.AnswerEntity" >
    update yz_answer
    <set >
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null" >
        createname = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null" >
        updatename = #{updatename,jdbcType=VARCHAR},
      </if>
      <if test="relationname != null" >
        RelationName = #{relationname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        Relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        Recommend = #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null" >
        Suggest = #{suggest,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fs.comm.model.AnswerEntity" >
    update yz_answer
    set answer = #{answer,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createname = #{createname,jdbcType=VARCHAR},
      RelationName = #{relationname,jdbcType=VARCHAR},
      Relation = #{relation,jdbcType=VARCHAR},
      Recommend = #{recommend,jdbcType=VARCHAR},
      Suggest = #{suggest,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and problemid = #{problemid,jdbcType=VARCHAR}
  </update>
</mapper>