<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.CategoryEntityMapper" >
  <resultMap id="BaseResultMap" type="com.fs.comm.model.CategoryEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GUID" property="guid" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="ParentCateID" property="parentcateid" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="TINYINT" />
    <result column="OrderNo" property="orderno" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GUID, Name, ParentCateID, Type, OrderNo, Remark
  </sql>
  <select id="getCategoryList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yz_category
    where type = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from yz_category
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fs.comm.model.CategoryEntity" >
    insert into yz_category (ID, GUID, Name, 
      ParentCateID, Type, OrderNo, 
      Remark)
    values (#{id,jdbcType=VARCHAR}, #{guid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentcateid,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{orderno,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fs.comm.model.CategoryEntity" >
    insert into yz_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="guid != null" >
        GUID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="parentcateid != null" >
        ParentCateID,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="orderno != null" >
        OrderNo,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentcateid != null" >
        #{parentcateid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fs.comm.model.CategoryEntity" >
    update yz_category
    <set >
      <if test="guid != null" >
        GUID = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentcateid != null" >
        ParentCateID = #{parentcateid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=TINYINT},
      </if>
      <if test="orderno != null" >
        OrderNo = #{orderno,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fs.comm.model.CategoryEntity" >
    update yz_category
    set GUID = #{guid,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      ParentCateID = #{parentcateid,jdbcType=VARCHAR},
      Type = #{type,jdbcType=TINYINT},
      OrderNo = #{orderno,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>