<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.CateEntityMapper" >
  <resultMap id="BaseResultMap" type="com.fs.comm.model.CateEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="cateName" property="catename" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createName" property="createname" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateName" property="updatename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, cateName, createTime, createName, updateTime, updateName
  </sql>
 
  <!-- 获取分类列表 -->
  <select id="getCateList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    	*
    from yz_cate
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from yz_cate
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from yz_cate
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fs.comm.model.CateEntity" >
    insert into yz_cate (ID, cateName, createTime, 
      createName, updateTime, updateName
      )
    values (#{id,jdbcType=VARCHAR}, #{catename,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{updatename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fs.comm.model.CateEntity" >
    insert into yz_cate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="catename != null" >
        cateName,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="createname != null" >
        createName,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="updatename != null" >
        updateName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="catename != null" >
        #{catename,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null" >
        #{updatename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fs.comm.model.CateEntity" >
    update yz_cate
    <set >
      <if test="catename != null" >
        cateName = #{catename,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null" >
        createName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null" >
        updateName = #{updatename,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fs.comm.model.CateEntity" >
    update yz_cate
    set cateName = #{catename,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createName = #{createname,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      updateName = #{updatename,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>