<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.ColumnMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.Column">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="companyid" property="companyid" jdbcType="INTEGER" />
		<result column="operatorid" property="operatorid" jdbcType="BIGINT" />
		<result column="dealerid" property="dealerid" jdbcType="BIGINT" />

		<result column="classify" property="classify" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="show_picture" property="showPicture" jdbcType="VARCHAR" />
		<result column="play" property="play" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="VARCHAR" />
		<result column="show_type" property="showType" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="operation" property="operation" jdbcType="VARCHAR" />
		<result column="identifying" property="identifying" jdbcType="VARCHAR" />
		<result column="ui_model" property="uiModel" jdbcType="VARCHAR" />
		<result column="label" property="label" jdbcType="VARCHAR" />
		<result column="describe_context" property="describeContext"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="levels" property="levels" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="companyid" property="companyid" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id,companyid,operatorid,dealerid, classify, name, number,
		type, status, show_picture, play,
		priority, show_type,
		code, operation,
		identifying, ui_model, label,
		describe_context,
		create_time, is_delete,
		parent_id, levels, path
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_column
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_column
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.fs.comm.mapper.ColumnMapper">
		insert into t_column (id,
		classify, name,
		number, type, status,
		show_picture, play, priority,
		show_type, code, operation,
		identifying,
		ui_model, label,
		describe_context, create_time, is_delete,
		parent_id,
		levels,
		path,companyid
		,operatorid
		,dealerid
		)
		values (#{id,jdbcType=INTEGER},
		#{classify,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{number,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{showPicture,jdbcType=VARCHAR},
		#{play,jdbcType=VARCHAR},
		#{priority,jdbcType=VARCHAR},
		#{showType,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
		#{operation,jdbcType=VARCHAR},
		#{identifying,jdbcType=VARCHAR},
		#{uiModel,jdbcType=VARCHAR},
		#{label,jdbcType=VARCHAR},
		#{describeContext,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{isDelete,jdbcType=VARCHAR},
		#{parentId,jdbcType=INTEGER},
		#{levels,jdbcType=VARCHAR},
		#{path,jdbcType=VARCHAR},#{companyid,jdbcType=BIGINT}
		,#{operatorid,jdbcType=BIGINT}
		,#{dealerid,jdbcType=BIGINT}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.fs.comm.mapper.ColumnMapper">
		insert into t_column
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="classify != null">
				classify,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="showPicture != null">
				show_picture,
			</if>
			<if test="play != null">
				play,
			</if>
			<if test="priority != null">
				priority,
			</if>
			<if test="showType != null">
				show_type,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="operation != null">
				operation,
			</if>
			<if test="identifying != null">
				identifying,
			</if>
			<if test="uiModel != null">
				ui_model,
			</if>
			<if test="label != null">
				label,
			</if>
			<if test="describeContext != null">
				describe_context,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="levels != null">
				levels,
			</if>
			<if test="path != null">
				path,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="classify != null">
				#{classify,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="showPicture != null">
				#{showPicture,jdbcType=VARCHAR},
			</if>
			<if test="play != null">
				#{play,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				#{priority,jdbcType=VARCHAR},
			</if>
			<if test="showType != null">
				#{showType,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="operation != null">
				#{operation,jdbcType=VARCHAR},
			</if>
			<if test="identifying != null">
				#{identifying,jdbcType=VARCHAR},
			</if>
			<if test="uiModel != null">
				#{uiModel,jdbcType=VARCHAR},
			</if>
			<if test="label != null">
				#{label,jdbcType=VARCHAR},
			</if>
			<if test="describeContext != null">
				#{describeContext,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="levels != null">
				#{levels,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.fs.comm.mapper.ColumnMapper">
		update t_column
		<set>
			<if test="classify != null">
				classify = #{classify,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="showPicture != null">
				show_picture = #{showPicture,jdbcType=VARCHAR},
			</if>
			<if test="play != null">
				play = #{play,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=VARCHAR},
			</if>
			<if test="showType != null">
				show_type = #{showType,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="operation != null">
				operation = #{operation,jdbcType=VARCHAR},
			</if>
			<if test="identifying != null">
				identifying = #{identifying,jdbcType=VARCHAR},
			</if>
			<if test="uiModel != null">
				ui_model = #{uiModel,jdbcType=VARCHAR},
			</if>
			<if test="label != null">
				label = #{label,jdbcType=VARCHAR},
			</if>
			<if test="describeContext != null">
				describe_context = #{describeContext,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="levels != null">
				levels = #{levels,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>


	<update id="updateByPrimaryKey" parameterType="com.fs.comm.mapper.ColumnMapper">
		update t_column
		set classify = #{classify,jdbcType=VARCHAR},
		name =
		#{name,jdbcType=VARCHAR},
		number = #{number,jdbcType=INTEGER},
		type =
		#{type,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		show_picture = #{showPicture,jdbcType=VARCHAR},
		play =
		#{play,jdbcType=VARCHAR},
		priority = #{priority,jdbcType=VARCHAR},
		show_type = #{showType,jdbcType=VARCHAR},
		code =
		#{code,jdbcType=VARCHAR},
		operation = #{operation,jdbcType=VARCHAR},
		identifying = #{identifying,jdbcType=VARCHAR},
		ui_model =
		#{uiModel,jdbcType=VARCHAR},
		label = #{label,jdbcType=VARCHAR},
		describe_context = #{describeContext,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		is_delete =
		#{isDelete,jdbcType=VARCHAR},
		parent_id = #{parentId,jdbcType=INTEGER},
		levels = #{levels,jdbcType=VARCHAR},
		path = #{path,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAllColumnInfo" resultType="hashmap">
		select * from t_column
		where is_delete='n' order by create_time desc
	</select>

	<update id="delColumnById">
		update t_column set is_delete='y' where id=#{id}
	</update>

	<update id="unAgreeColumnById">
		update t_column set status='无效' where id=#{id}
	</update>

	<update id="agreeColumnById">
		update t_column set status='有效' where id=#{id}
	</update>

	<select id="selectColumnClassify" resultMap="BaseResultMap">
		select * from
		t_column where is_delete='n'
	</select>



	<select id="browseColumn" resultMap="BaseResultMap">
		select tt.*,(select count(1) from t_column t where t.parent_id=tt.id)
		cnum from t_column tt
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="companyid!= null and companyid!= ''">
				and companyid=#{companyid}
			</if>
			<if test="id!= null and id!= ''">
				and id=#{id}
			</if>
			<if test="notid!= null and notid!= ''">
				and id!=#{notid}
			</if>
			<if test="parent!= null and parent!= ''">
				and parent_id=#{parent}
			</if>
			<if test="name!= null and name!= ''">
				and name=#{name}
			</if>
			and is_delete='n'
		</trim>
		order by number desc
	</select>

	<select id="countColumn" resultType="java.lang.Integer">
		select count(*) from t_column where is_delete='n'
		<if test="parentId!= null and parentId!= ''">
			and parent_id=#{parentId}
		</if>
	</select>


	<!--获取栏目列表 -->
	<select id="getRootColumnList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		*
		from t_column
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="companyid !=null and companyid !=''">
				and companyid=#{companyid}
			</if>
			<if test="operatorid !=null ">
				and operatorid =#{operatorid}
			</if>
			<if test="dealerid !=null ">
				and dealerid =#{dealerid}
			</if>
			<if test="parentid !=null ">
				and parent_id =#{parentid}
			</if>
		</trim>
	</select>


</mapper>