<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.ImageLableMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.ImageLable">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="lable_describe" property="lableDescribe"
			jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
		<result column="companyid" property="companyid" jdbcType="BIGINT" />

		<result column="operatorid" property="operatorid" jdbcType="BIGINT" />
		<result column="dealerid" property="dealerid" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, lable_describe, status, create_time, is_delete
		,companyid,operatorid,dealerid
	</sql>

	<!-- 获取图文模板列表 -->
	<select id="getImageLableList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_image_lable
		where 1=1
		<if test="id !=null">
			id = #{id}
		</if>
		<if test="companyid !=null ">
			and companyid =#{companyid}
		</if>
		<if test="operatorid !=null ">
			and operatorid =#{operatorid}
		</if>
		<if test="dealerid !=null ">
			and dealerid =#{dealerid}
		</if>

	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_image_lable
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_image_lable
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertLable" parameterType="com.fs.comm.model.ImageLable">
		insert into t_image_lable (id,
		name, lable_describe,
		status, create_time, is_delete
		,companyid
		,operatorid
		,dealerid
		)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{lableDescribe,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{isDelete,jdbcType=VARCHAR}
		,#{companyid,jdbcType=BIGINT}
		,#{operatorid,jdbcType=BIGINT}
		,#{dealerid,jdbcType=BIGINT}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.fs.comm.model.ImageLable">
		insert into t_image_lable
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="lableDescribe != null">
				lable_describe,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="lableDescribe != null">
				#{lableDescribe,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.fs.comm.model.ImageLable">
		update t_image_lable
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="lableDescribe != null">
				lable_describe = #{lableDescribe,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.fs.comm.model.ImageLable">
		update
		t_image_lable
		set name = #{name,jdbcType=VARCHAR},
		lable_describe =
		#{lableDescribe,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		is_delete =
		#{isDelete,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAllImageLableInfo" resultType="hashmap">
		select * from t_image_lable where is_delete='n'
		<if test="companyid!= null and companyid!= ''">
			and companyid=#{companyid}
		</if>
		<if test="status!= null and status!= ''">
			and status=#{status}
		</if>
		<if test="name!= null and name!= ''">
			and name like CONCAT('%',#{name},'%')
		</if>
		order by create_time desc
	</select>

	<update id="delImageLableById">
		update t_image_lable set is_delete='y' where id=#{id}
	</update>

	<update id="unAgreeImageLableById">
		update t_image_lable set status='未审核' where id=#{id}
	</update>

	<update id="agreeImageLableById">
		update t_image_lable set status='已审核' where id=#{id}
	</update>

	<select id="queryImageLableById" resultMap="BaseResultMap">
		select * from
		t_image_lable where id=#{id}
	</select>
</mapper>