<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.ParameterMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.Parameter">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ptype" property="ptype" jdbcType="VARCHAR" />
		<result column="pname" property="pname" jdbcType="VARCHAR" />
		<result column="isshow" property="isshow" jdbcType="INTEGER" />
		<result column="porder" property="porder" jdbcType="INTEGER" />
		<result column="pcode" property="pcode" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, ptype, pname, isshow, porder, pcode
	</sql>

	<!-- 根据类型编号获取类型名称 -->
	<select id="getParameter" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from parameter where 1=1 and isshow=1
		<if test="id != null and id != ''">
			and id=#{id}
		</if>
		<if test="ptype != null and ptype != ''">
			and ptype=#{ptype}
		</if>
		<if test="pcode != null and pcode != ''">
			and pcode=#{pcode}
		</if>
		<if test="pname != null and pname != ''">
			and pname=#{pname}
		</if>
	</select>

	<!-- 获取列表 -->
	<select id="getParameterList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select * from parameter where 1=1
		<if test="id !=null and id !=''">
			and id =#{id}
		</if>
		<if test="ptype !=null and ptype !=''">
			and ptype =#{ptype}
		</if>
		<if test="pname !=null and pname !=''">
			and pname =#{pname}
		</if>
		<if test="content!=null and content!=''">
			and (ptype like '%${ptype}%'
			or pname like '%${pname}%')
		</if>
	</select>

	<!-- 根据name获取列表 -->
	<select id="getParameterListByname" resultMap="BaseResultMap"
		parameterType="com.fs.comm.mapper.ParameterMapper">
		select * from parameter 
		where ptype = 'industry' 
		and pname = #{pname}
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from parameter
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 删除枚举 -->
	<delete id="deleteParameter" parameterType="java.lang.Integer">
		delete from parameter
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.fs.comm.model.Parameter">
		insert into parameter (id,
		ptype, pname,
		isshow, porder, pcode
		)
		values (#{id,jdbcType=INTEGER},
		#{ptype,jdbcType=VARCHAR},
		#{pname,jdbcType=VARCHAR},
		#{isshow,jdbcType=INTEGER}, #{porder,jdbcType=INTEGER},
		#{pcode,jdbcType=INTEGER}
		)
	</insert>

	<!-- 添加枚举配置 -->
	<insert id="insertParameter" parameterType="com.fs.comm.model.Parameter">
		insert into parameter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="ptype != null">
				ptype,
			</if>
			<if test="pname != null">
				pname,
			</if>
				isshow,
			<if test="porder != null">
				porder,
			</if>
			<if test="pcode != null">
				pcode,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="ptype != null">
				#{ptype,jdbcType=VARCHAR},
			</if>
			<if test="pname != null">
				#{pname,jdbcType=VARCHAR},
			</if>
				1,
			<if test="porder != null">
				#{porder,jdbcType=INTEGER},
			</if>
			<if test="pcode != null">
				#{pcode,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 修改枚举信息 -->
	<update id="updateParameter" parameterType="com.fs.comm.model.Parameter">
		update parameter
		<set>
			<if test="ptype != null">
				ptype = #{ptype,jdbcType=VARCHAR},
			</if>
			<if test="pname != null">
				pname = #{pname,jdbcType=VARCHAR},
			</if>
			<if test="isshow != null">
				isshow = #{isshow,jdbcType=INTEGER},
			</if>
			<if test="porder != null">
				porder = #{porder,jdbcType=INTEGER},
			</if>
			<if test="pcode != null">
				pcode = #{pcode,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.fs.comm.model.Parameter">
		update parameter
		set ptype = #{ptype,jdbcType=VARCHAR},
		pname =
		#{pname,jdbcType=VARCHAR},
		isshow = #{isshow,jdbcType=INTEGER},
		porder =
		#{porder,jdbcType=INTEGER},
		pcode = #{pcode,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>