<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.ProgramMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.Program">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="program_type" property="programType" jdbcType="VARCHAR" />
		<result column="clarity" property="clarity" jdbcType="VARCHAR" />
		<result column="seat" property="seat" jdbcType="INTEGER" />
		<result column="show_type" property="showType" jdbcType="VARCHAR" />
		<result column="suppot_type" property="suppotType" jdbcType="VARCHAR" />
		<result column="copyright" property="copyright" jdbcType="VARCHAR" />
		<result column="shim" property="shim" jdbcType="VARCHAR" />
		<result column="shim_url" property="shimUrl" jdbcType="VARCHAR" />
		<result column="preferences" property="preferences" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
		<result column="column_id" property="columnId" jdbcType="INTEGER" />
		<result column="columnType_id" property="columntypeId"
			jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, type, content, status, program_type, clarity,
		seat, show_type,
		suppot_type,
		copyright, shim, shim_url, preferences,
		number, is_delete, column_id,
		columnType_id
	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_program
		where id = #{id,jdbcType=BIGINT}
	</select>

	<!-- 根据栏目ID获取其下绑定的节目列表 -->
	<select id="getProgramListByColumnId" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		* 
		from t_program 
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="columnid !=null and columnid !=''">
				and column_id = #{columnid}
			</if>
			<if test="programtype !=null and programtype !=''">
				and program_type=#{programtype}
			</if>
		</trim>
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_program
		where id = #{id,jdbcType=BIGINT}
	</delete>


	<insert id="insert" parameterType="com.fs.comm.model.Program">
		insert into t_program (id,
		name, type,
		content, status, program_type,
		clarity, seat, show_type,
		suppot_type, copyright, shim,
		shim_url, preferences, number,
		is_delete,
		column_id, columnType_id
		)
		values (#{id,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{programType,jdbcType=VARCHAR},
		#{clarity,jdbcType=VARCHAR},
		#{seat,jdbcType=INTEGER},
		#{showType,jdbcType=VARCHAR},
		#{suppotType,jdbcType=VARCHAR}, #{copyright,jdbcType=VARCHAR},
		#{shim,jdbcType=VARCHAR},
		#{shimUrl,jdbcType=VARCHAR},
		#{preferences,jdbcType=VARCHAR},
		#{number,jdbcType=INTEGER},
		#{isDelete,jdbcType=VARCHAR}, #{columnId,jdbcType=INTEGER},
		#{columntypeId,jdbcType=BIGINT}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.fs.comm.model.Program">
		insert into t_program
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="programType != null">
				program_type,
			</if>
			<if test="clarity != null">
				clarity,
			</if>
			<if test="seat != null">
				seat,
			</if>
			<if test="showType != null">
				show_type,
			</if>
			<if test="suppotType != null">
				suppot_type,
			</if>
			<if test="copyright != null">
				copyright,
			</if>
			<if test="shim != null">
				shim,
			</if>
			<if test="shimUrl != null">
				shim_url,
			</if>
			<if test="preferences != null">
				preferences,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="columnId != null">
				column_id,
			</if>
			<if test="columntypeId != null">
				columnType_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="programType != null">
				#{programType,jdbcType=VARCHAR},
			</if>
			<if test="clarity != null">
				#{clarity,jdbcType=VARCHAR},
			</if>
			<if test="seat != null">
				#{seat,jdbcType=INTEGER},
			</if>
			<if test="showType != null">
				#{showType,jdbcType=VARCHAR},
			</if>
			<if test="suppotType != null">
				#{suppotType,jdbcType=VARCHAR},
			</if>
			<if test="copyright != null">
				#{copyright,jdbcType=VARCHAR},
			</if>
			<if test="shim != null">
				#{shim,jdbcType=VARCHAR},
			</if>
			<if test="shimUrl != null">
				#{shimUrl,jdbcType=VARCHAR},
			</if>
			<if test="preferences != null">
				#{preferences,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=VARCHAR},
			</if>
			<if test="columnId != null">
				#{columnId,jdbcType=INTEGER},
			</if>
			<if test="columntypeId != null">
				#{columntypeId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.fs.comm.model.Program">
		update t_program
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="programType != null">
				program_type = #{programType,jdbcType=VARCHAR},
			</if>
			<if test="clarity != null">
				clarity = #{clarity,jdbcType=VARCHAR},
			</if>
			<if test="seat != null">
				seat = #{seat,jdbcType=INTEGER},
			</if>
			<if test="showType != null">
				show_type = #{showType,jdbcType=VARCHAR},
			</if>
			<if test="suppotType != null">
				suppot_type = #{suppotType,jdbcType=VARCHAR},
			</if>
			<if test="copyright != null">
				copyright = #{copyright,jdbcType=VARCHAR},
			</if>
			<if test="shim != null">
				shim = #{shim,jdbcType=VARCHAR},
			</if>
			<if test="shimUrl != null">
				shim_url = #{shimUrl,jdbcType=VARCHAR},
			</if>
			<if test="preferences != null">
				preferences = #{preferences,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=VARCHAR},
			</if>
			<if test="columnId != null">
				column_id = #{columnId,jdbcType=INTEGER},
			</if>
			<if test="columntypeId != null">
				columnType_id = #{columntypeId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.fs.comm.model.Program">
		update t_program
		set name = #{name,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=VARCHAR},
		program_type =
		#{programType,jdbcType=VARCHAR},
		clarity = #{clarity,jdbcType=VARCHAR},
		seat = #{seat,jdbcType=INTEGER},
		show_type =
		#{showType,jdbcType=VARCHAR},
		suppot_type =
		#{suppotType,jdbcType=VARCHAR},
		copyright =
		#{copyright,jdbcType=VARCHAR},
		shim = #{shim,jdbcType=VARCHAR},
		shim_url = #{shimUrl,jdbcType=VARCHAR},
		preferences =
		#{preferences,jdbcType=VARCHAR},
		number = #{number,jdbcType=INTEGER},
		is_delete = #{isDelete,jdbcType=VARCHAR},
		column_id =
		#{columnId,jdbcType=INTEGER},
		columnType_id =
		#{columntypeId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>


	<select id="getAllTitleColumn" resultType="hashmap">
		select * from t_program where is_delete='n'
		<if test="columnId!= null and columnId!= ''">
			and column_id=#{columnId}
		</if>
		<if test="name!= null and name!= ''">
			and name=#{name}
		</if>

		<if test="programName!= null and programName!= ''">
			and name like CONCAT('%',#{programName},'%')
		</if>
		<if test="status!= null and status!= ''">
			and status=#{status}
		</if>
		<if test="seat!= null and seat!= ''">
			and seat=#{seat}
		</if>
		order by number desc
	</select>

	<select id="getProgramByColumnId" resultMap="BaseResultMap"
		parameterType="com.fs.comm.model.Program">
		select * from t_program where column_id=#{columnId} and
		content=#{name}
	</select>

	<update id="delProgramById" parameterType="java.lang.Integer">
		update t_program set
		is_delete='y' where id=#{id}
	</update>

	<update id="delProgramByModel" parameterType="com.fs.comm.model.Program">
		update t_program
		set is_delete='y' where program_type=#{programType} and
		columnType_id=#{columntypeId}
	</update>

	<update id="agreeCheckprogram" parameterType="com.fs.comm.model.Program">
		update t_program
		set status='已审核' where program_type=#{programType} and
		columnType_id=#{columntypeId}
	</update>

	<update id="unAgreeCheckprogram" parameterType="com.fs.comm.model.Program">
		update t_program
		set status='未审核' where program_type=#{programType} and
		columnType_id=#{columntypeId}
	</update>

	<update id="agreeOnline" parameterType="com.fs.comm.model.Program">
		update t_program set
		status='已上线' where program_type=#{programType} and
		columnType_id=#{columntypeId}
	</update>

	<update id="unAgreeOnline" parameterType="com.fs.comm.model.Program">
		update t_program set
		status='已下线' where program_type=#{programType} and
		columnType_id=#{columntypeId}
	</update>

	<select id="getProgramByModel" resultMap="BaseResultMap"
		parameterType="com.fs.comm.model.Program">
		select * from t_program where
		program_type=#{programType} and
		columnType_id=#{columntypeId}
	</select>


	<update id="updateProgramSelective" parameterType="com.fs.comm.model.Program">
		update t_program
		<set>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
		</set>
		where program_type=#{programType} and columnType_id=#{columntypeId}
	</update>

</mapper>