<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.SysLogMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.SysLog">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="dotime" property="dotime" jdbcType="TIMESTAMP" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="operObject" property="operobject" jdbcType="VARCHAR" />
		<result column="operType" property="opertype" jdbcType="VARCHAR" />
		<result column="operResult" property="operresult" jdbcType="VARCHAR" />
		<result column="operDes" property="operdes" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insert" parameterType="com.fs.comm.model.SysLog">
		insert into t_syslog (id, dotime, username,
		operObject, operType, operResult,
		operDes)
		values (#{id,jdbcType=VARCHAR}, #{dotime,jdbcType=TIMESTAMP},
		#{username,jdbcType=VARCHAR},
		#{operobject,jdbcType=VARCHAR}, #{opertype,jdbcType=VARCHAR}, #{operresult,jdbcType=VARCHAR},
		#{operdes,jdbcType=VARCHAR})
	</insert>


	<insert id="insertSelective" parameterType="com.fs.comm.model.SysLog">
		insert into t_syslog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="dotime != null">
				dotime,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="operobject != null">
				operObject,
			</if>
			<if test="opertype != null">
				operType,
			</if>
			<if test="operresult != null">
				operResult,
			</if>
			<if test="operdes != null">
				operDes,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="dotime != null">
				#{dotime,jdbcType=TIMESTAMP},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="operobject != null">
				#{operobject,jdbcType=VARCHAR},
			</if>
			<if test="opertype != null">
				#{opertype,jdbcType=VARCHAR},
			</if>
			<if test="operresult != null">
				#{operresult,jdbcType=VARCHAR},
			</if>
			<if test="operdes != null">
				#{operdes,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="getAllSysLogInfo" resultType="hashmap">
		select * from t_syslog where 1=1

		<if test="startTime!=null and startTime!='' ">
			 <![CDATA[AND dotime >= #{startTime} ]]>
		</if>
		<if test="endTime!=null and endTime!='' ">
			 <![CDATA[AND dotime < #{endTime} ]]>
		</if>
		<if test="content!=null and content!=''">
			and  username like '%${content}%'
		</if>
		order by dotime desc
	</select>

</mapper>