<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.SysParameterMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.SysParameter">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="companyid" property="companyid" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parameter_value" property="parameterValue"
			jdbcType="VARCHAR" />
		<result column="parameter_type" property="parameterType"
			jdbcType="VARCHAR" />
		<result column="sys_describe" property="sysDescribe" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,companyid, name, parameter_value, parameter_type, sys_describe, create_time,
		is_delete
	</sql>


	<!-- 主键获取系统参数配置 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_sys_parameter
		where is_delete='n' and id = #{id,jdbcType=BIGINT}
	</select>

	<!-- 获取系统参数配置 -->
	<select id="getSysParameter" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_parameter where is_delete='n'
		<if test="id !=null and id !='' ">
			id = #{id,jdbcType=BIGINT}
		</if>
		<if test="companyid !=null and companyid !='' ">
			and companyid=#{companyid}
		</if>
		<if test="name !=null and name !='' ">
			and name=#{name}
		</if>
	</select>
	

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_sys_parameter
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.fs.comm.model.SysParameter">
		insert into t_sys_parameter (id,companyid, name, parameter_value,
		parameter_type, sys_describe, create_time,
		is_delete)
		values (#{id,jdbcType=BIGINT},#{companyid,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR}, #{parameterValue,jdbcType=VARCHAR},
		#{parameterType,jdbcType=VARCHAR}, #{sysDescribe,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{isDelete,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.fs.comm.model.SysParameter">
		insert into t_sys_parameter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parameterValue != null">
				parameter_value,
			</if>
			<if test="parameterType != null">
				parameter_type,
			</if>
			<if test="sysDescribe != null">
				sys_describe,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parameterValue != null">
				#{parameterValue,jdbcType=VARCHAR},
			</if>
			<if test="parameterType != null">
				#{parameterType,jdbcType=VARCHAR},
			</if>
			<if test="sysDescribe != null">
				#{sysDescribe,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.fs.comm.model.SysParameter">
		update t_sys_parameter
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parameterValue != null">
				parameter_value = #{parameterValue,jdbcType=VARCHAR},
			</if>
			<if test="parameterType != null">
				parameter_type = #{parameterType,jdbcType=VARCHAR},
			</if>
			<if test="sysDescribe != null">
				sys_describe = #{sysDescribe,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.fs.comm.model.SysParameter">
		update t_sys_parameter
		set name = #{name,jdbcType=VARCHAR},
		parameter_value = #{parameterValue,jdbcType=VARCHAR},
		parameter_type = #{parameterType,jdbcType=VARCHAR},
		sys_describe = #{sysDescribe,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		is_delete = #{isDelete,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 浏览系统参数配置列表 -->
	<select id="getAllSysParameterInfo" resultType="hashmap">
		select * from t_sys_parameter where is_delete='n'
		<if test="parameterType!= null and parameterType!= ''">
			and parameter_type=#{parameterType}
		</if>
		<if test="name!= null and name!= ''">
			and (
			name like CONCAT('%',#{name},'%')
			or sys_describe like CONCAT('%',#{name},'%')
			)
		</if>
		<if test="companyid !=null and companyid !='' ">
			and companyid=#{companyid}
		</if>
		order by id desc
	</select>

	<update id="delSysParameter">
		update t_sys_parameter set is_delete='y' where id=#{id}
	</update>
</mapper>