<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.TBindMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.TBind">
		<id column="sid" property="sid" jdbcType="BIGINT" />
		
		<result column="companyid" property="companyid" jdbcType="BIGINT" />
		<result column="operatorid" property="operatorid" jdbcType="BIGINT" />
		<result column="dealerid" property="dealerid" jdbcType="BIGINT" />
		
		<result column="hotelnum" property="hotelnum" jdbcType="INTEGER" />
		<result column="hotelname" property="hotelname" jdbcType="VARCHAR" />
		<result column="stbnum" property="stbnum" jdbcType="VARCHAR" />
		<result column="roomnum" property="roomnum" jdbcType="VARCHAR" />
		<result column="welcome" property="welcome" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="comm" property="comm" jdbcType="VARCHAR" />
		<result column="hotelsid" property="hotelsid" jdbcType="INTEGER" />
		<result column="stbsid" property="stbsid" jdbcType="INTEGER" />
		<result column="wifi" property="wifi" jdbcType="VARCHAR" />
		<result column="wifipwd" property="wifipwd" jdbcType="VARCHAR" />
		<result column="customer" property="customer" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		sid, companyid,operatorid,dealerid,hotelnum, hotelname, stbnum, roomnum, welcome,
		createtime, comm,
		hotelsid,stbsid,wifi,customer,
		wifipwd
	</sql>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<!-- 获取列表 -->
	<select id="getBindList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * from t_bind where 1=1
		<if test="sid!=null ">
			and sid = #{sid}
		</if>
		<if test="stbsid !=null ">
			and stbsid = #{stbsid}
		</if>
		<if test="hotelsid !=null ">
			and hotelsid = #{hotelsid}
		</if>
		<if test="companyid !=null">
			and companyid = #{companyid}
		</if>
		<if test="operatorid !=null ">
			and operatorid =#{operatorid}
		</if>
		<if test="dealerid !=null ">
			and dealerid =#{dealerid}
		</if>
		<if test="content!=null and content!=''">
			and (hotelname like '%${content}%'
			or stbnum like '%${content}%')
		</if>
	</select>

	<!--精确查找 -->
	<select id="getBind" parameterType="com.fantastic.TBaseExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_bind
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<!-- 查询是否存在 -->
	<select id="countBind" resultType="java.lang.Integer">
		select count(1) from t_bind b where 1=1
		<if test="sid!= null and sid!= ''">
			and b.sid=#{sid}
		</if>
		<if test="stbsid != null and stbsid != ''">
			and b.stbsid=#{stbsid}
		</if>
	</select>


	<!-- 查询详情 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_bind
		where sid = #{sid,jdbcType=BIGINT}
	</select>

	<!-- 删除 -->
	<delete id="deleteBind" parameterType="java.lang.Long">
		delete from t_bind
		where
		sid = #{sid,jdbcType=BIGINT}
	</delete>

	<!-- 添加 -->
	<insert id="insertBind" parameterType="com.fs.comm.model.TBind">
		insert into t_bind (sid,
		hotelnum, hotelname,
		stbnum, roomnum, welcome,
		createtime, comm,
		hotelsid,stbsid,wifi,customer,companyid ,wifipwd
		,operatorid
		,dealerid
		)
		values
		(#{sid,jdbcType=BIGINT},
		#{hotelnum,jdbcType=INTEGER},
		#{hotelname,jdbcType=VARCHAR},
		#{stbnum,jdbcType=VARCHAR},
		#{roomnum,jdbcType=VARCHAR},
		#{welcome,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},
		#{comm,jdbcType=VARCHAR},
		#{hotelsid,jdbcType=INTEGER},
		#{stbsid,jdbcType=INTEGER},
		#{wifi,jdbcType=VARCHAR},
		#{customer,jdbcType=VARCHAR},
		#{companyid,jdbcType=BIGINT},
		#{wifipwd,jdbcType=VARCHAR}
		,#{operatorid,jdbcType=BIGINT}
		,#{dealerid,jdbcType=BIGINT}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.fs.comm.model.TBind">
		insert into t_bind
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				sid,
			</if>
			<if test="hotelnum != null">
				hotelnum,
			</if>
			<if test="hotelname != null">
				hotelname,
			</if>
			<if test="stbnum != null">
				stbnum,
			</if>
			<if test="roomnum != null">
				roomnum,
			</if>
			<if test="welcome != null">
				welcome,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="comm != null">
				comm,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				#{sid,jdbcType=BIGINT},
			</if>
			<if test="hotelnum != null">
				#{hotelnum,jdbcType=INTEGER},
			</if>
			<if test="hotelname != null">
				#{hotelname,jdbcType=VARCHAR},
			</if>
			<if test="stbnum != null">
				#{stbnum,jdbcType=VARCHAR},
			</if>
			<if test="roomnum != null">
				#{roomnum,jdbcType=VARCHAR},
			</if>
			<if test="welcome != null">
				#{welcome,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="comm != null">
				#{comm,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 修改绑定信息 -->
	<update id="updateBindInfo" parameterType="com.fs.comm.model.TBind">
		update t_bind
		<set>
			<if test="hotelnum != null">
				hotelnum = #{hotelnum,jdbcType=INTEGER},
			</if>
			<if test="hotelname != null">
				hotelname = #{hotelname,jdbcType=VARCHAR},
			</if>
			<if test="stbnum != null">
				stbnum = #{stbnum,jdbcType=VARCHAR},
			</if>
			<if test="roomnum != null">
				roomnum = #{roomnum,jdbcType=VARCHAR},
			</if>
			<if test="welcome != null">
				welcome = #{welcome,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="comm != null">
				comm = #{comm,jdbcType=VARCHAR},
			</if>
			<if test="wifi != null">
				wifi = #{wifi,jdbcType=VARCHAR},
			</if>
			<if test="customer != null">
				customer = #{customer,jdbcType=VARCHAR},
			</if>
		</set>
		where sid = #{sid,jdbcType=BIGINT}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.fs.comm.model.TBind">
		update t_bind
		set
		hotelnum = #{hotelnum,jdbcType=INTEGER},
		hotelname =
		#{hotelname,jdbcType=VARCHAR},
		stbnum = #{stbnum,jdbcType=VARCHAR},
		roomnum = #{roomnum,jdbcType=VARCHAR},
		welcome =
		#{welcome,jdbcType=VARCHAR},
		createtime =
		#{createtime,jdbcType=TIMESTAMP},
		comm = #{comm,jdbcType=VARCHAR},
		hotelsid = #{hotelsid,jdbcType=INTEGER},
		stbsid
		=#{stbsid,jdbcType=INTEGER},
		wifi =#{wifi,jdbcType=VARCHAR}
		where
		sid =
		#{sid,jdbcType=BIGINT}
	</update>

	<select id="selectBindByStbNum" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from t_bind where stbnum = #{stbnum}
	</select>

</mapper>