<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.TStbLogMapper">
	<resultMap id="BaseResultMap" type="com.fs.comm.model.TStbLog">
		<id column="stbnum" property="stbnum" jdbcType="VARCHAR" />
		
		<result column="companyid" property="companyid" jdbcType="BIGINT" />
		<result column="stbtoken" property="stbtoken" jdbcType="VARCHAR" />
		<result column="terminaltype" property="terminaltype" jdbcType="INTEGER" />
		<result column="streamstatus" property="streamstatus" jdbcType="INTEGER" />
		<result column="lastonlinetime" property="lastonlinetime" jdbcType="TIMESTAMP" />
		<result column="lanip" property="lanip" jdbcType="VARCHAR" />
		<result column="wanip" property="wanip" jdbcType="VARCHAR" />
		<result column="stbid" property="stbid" jdbcType="VARCHAR" />
		<result column="mac" property="mac" jdbcType="VARCHAR" />
		<result column="wifimac" property="wifimac" jdbcType="VARCHAR" />
		<result column="logintime" property="logintime" jdbcType="TIMESTAMP" />
		<result column="outtime" property="outtime" jdbcType="TIMESTAMP" />
		<result column="apkversion" property="apkversion" jdbcType="VARCHAR" />
		<result column="onlinestatus" property="onlinestatus" jdbcType="INTEGER" />
		<result column="romversion" property="romversion" jdbcType="VARCHAR" />
		<result column="romfirmware" property="romfirmware" jdbcType="VARCHAR" />
		<result column="apptype" property="apptype" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		stbtoken, companyid,stbnum, terminaltype, streamstatus, lastonlinetime, lanip, wanip,
		stbid,
		mac, wifimac, logintime,outtime, apkversion, onlinestatus, romversion,
		romfirmware, apptype
	</sql>


	<!-- 获取日志列表 -->
	<select id="getStbLogList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select * from t_stb_log where 1=1
		<if test="companyid !=null and companyid !=''">
			and companyid =#{companyid,jdbcType=BIGINT}
		</if>
		<if test="terminaltype!=null and terminaltype!=''">
			and terminaltype =#{terminaltype,jdbcType=INTEGER}
		</if>
		<if test="streamstatus!=null and streamstatus!=''">
			and streamstatus =#{streamstatus,jdbcType=INTEGER}
		</if>
		<if test="onlinestatus!=null and onlinestatus!=''">
			and onlinestatus =#{onlinestatus,jdbcType=INTEGER}
		</if>
		<if test="startTime!=null and startTime!='' ">
			 <![CDATA[AND logintime <= #{startTime} ]]>
		</if>
		<if test="endTime!=null and endTime!='' ">
			 <![CDATA[AND outtime > #{endTime} ]]>
		</if>
		<if test="content!=null and content!=''">
			and (stbtoken like '%${content}%'
			or stbnum like
			'%${content}%')
		</if>
	</select>

	<!--主键获取机顶盒日志信息 -->
	<select id="getStblogByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_stb_log
		where stbnum = #{stbnum,jdbcType=VARCHAR}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_stb_log
		where stbtoken = #{stbtoken,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.fs.comm.model.TStbLog">
		insert into t_stb_log (stbtoken, stbnum, terminaltype,
		streamstatus, lastonlinetime, lanip,
		wanip, stbid, mac,
		wifimac, logintime, apkversion,
		onlinestatus, romversion, romfirmware,
		apptype)
		values (#{stbtoken,jdbcType=VARCHAR}, #{stbnum,jdbcType=VARCHAR},
		#{terminaltype,jdbcType=INTEGER},
		#{streamstatus,jdbcType=INTEGER}, #{lastonlinetime,jdbcType=TIMESTAMP}, #{lanip,jdbcType=VARCHAR},
		#{wanip,jdbcType=VARCHAR}, #{stbid,jdbcType=VARCHAR},
		#{mac,jdbcType=VARCHAR},
		#{wifimac,jdbcType=VARCHAR}, #{logintime,jdbcType=TIMESTAMP}, #{apkversion,jdbcType=VARCHAR},
		#{onlinestatus,jdbcType=INTEGER}, #{romversion,jdbcType=VARCHAR},
		#{romfirmware,jdbcType=VARCHAR},
		#{apptype,jdbcType=VARCHAR})
	</insert>

<!-- 添加机顶盒日志 -->
	<insert id="insertStbLog" parameterType="com.fs.comm.model.TStbLog">
		insert into t_stb_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			
			<if test="stbtoken != null">
				stbtoken,
			</if>
			<if test="stbnum != null">
				stbnum,
			</if>
			<if test="companyid != null">
				companyid,
			</if>
			<if test="terminaltype != null">
				terminaltype,
			</if>
			<if test="streamstatus != null">
				streamstatus,
			</if>
			<if test="lastonlinetime != null">
				lastonlinetime,
			</if>
			<if test="lanip != null">
				lanip,
			</if>
			<if test="wanip != null">
				wanip,
			</if>
			<if test="stbid != null">
				stbid,
			</if>
			<if test="mac != null">
				mac,
			</if>
			<if test="wifimac != null">
				wifimac,
			</if>
			<if test="logintime != null">
				logintime,
			</if>
			<if test="apkversion != null">
				apkversion,
			</if>
			<if test="onlinestatus != null">
				onlinestatus,
			</if>
			<if test="romversion != null">
				romversion,
			</if>
			<if test="romfirmware != null">
				romfirmware,
			</if>
			<if test="apptype != null">
				apptype,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			
			<if test="stbtoken != null">
				#{stbtoken,jdbcType=VARCHAR},
			</if>
			<if test="stbnum != null">
				#{stbnum,jdbcType=VARCHAR},
			</if>
			<if test="companyid != null">
				#{companyid,jdbcType=BIGINT},
			</if>
			<if test="terminaltype != null">
				#{terminaltype,jdbcType=INTEGER},
			</if>
			<if test="streamstatus != null">
				#{streamstatus,jdbcType=INTEGER},
			</if>
			<if test="lastonlinetime != null">
				#{lastonlinetime,jdbcType=TIMESTAMP},
			</if>
			<if test="lanip != null">
				#{lanip,jdbcType=VARCHAR},
			</if>
			<if test="wanip != null">
				#{wanip,jdbcType=VARCHAR},
			</if>
			<if test="stbid != null">
				#{stbid,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				#{mac,jdbcType=VARCHAR},
			</if>
			<if test="wifimac != null">
				#{wifimac,jdbcType=VARCHAR},
			</if>
			<if test="logintime != null">
				#{logintime,jdbcType=TIMESTAMP},
			</if>
			<if test="apkversion != null">
				#{apkversion,jdbcType=VARCHAR},
			</if>
			<if test="onlinestatus != null">
				#{onlinestatus,jdbcType=INTEGER},
			</if>
			<if test="romversion != null">
				#{romversion,jdbcType=VARCHAR},
			</if>
			<if test="romfirmware != null">
				#{romfirmware,jdbcType=VARCHAR},
			</if>
			<if test="apptype != null">
				#{apptype,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

<!-- 修改机顶盒日志信息 -->
	<update id="updateStblog" parameterType="com.fs.comm.model.TStbLog">
		update t_stb_log
		<set>
			<if test="companyid != null">
				companyid = #{companyid,jdbcType=BIGINT},
			</if>
			<if test="stbtoken != null">
				stbtoken = #{stbtoken,jdbcType=VARCHAR},
			</if>
			<if test="terminaltype != null">
				terminaltype = #{terminaltype,jdbcType=INTEGER},
			</if>
			<if test="streamstatus != null">
				streamstatus = #{streamstatus,jdbcType=INTEGER},
			</if>
			<if test="lastonlinetime != null">
				lastonlinetime = #{lastonlinetime,jdbcType=TIMESTAMP},
			</if>
			<if test="lanip != null">
				lanip = #{lanip,jdbcType=VARCHAR},
			</if>
			<if test="wanip != null">
				wanip = #{wanip,jdbcType=VARCHAR},
			</if>
			<if test="stbid != null">
				stbid = #{stbid,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				mac = #{mac,jdbcType=VARCHAR},
			</if>
			<if test="wifimac != null">
				wifimac = #{wifimac,jdbcType=VARCHAR},
			</if>
			<if test="logintime != null">
				logintime = #{logintime,jdbcType=TIMESTAMP},
			</if>
			<if test="apkversion != null">
				apkversion = #{apkversion,jdbcType=VARCHAR},
			</if>
			<if test="onlinestatus != null">
				onlinestatus = #{onlinestatus,jdbcType=INTEGER},
			</if>
			<if test="romversion != null">
				romversion = #{romversion,jdbcType=VARCHAR},
			</if>
			<if test="romfirmware != null">
				romfirmware = #{romfirmware,jdbcType=VARCHAR},
			</if>
			<if test="apptype != null">
				apptype = #{apptype,jdbcType=VARCHAR},
			</if>
		</set>
		where stbnum = #{stbnum,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.fs.comm.model.TStbLog">
		update t_stb_log
		set stbnum = #{stbnum,jdbcType=VARCHAR},
		terminaltype = #{terminaltype,jdbcType=INTEGER},
		streamstatus = #{streamstatus,jdbcType=INTEGER},
		lastonlinetime = #{lastonlinetime,jdbcType=TIMESTAMP},
		lanip = #{lanip,jdbcType=VARCHAR},
		wanip = #{wanip,jdbcType=VARCHAR},
		stbid = #{stbid,jdbcType=VARCHAR},
		mac = #{mac,jdbcType=VARCHAR},
		wifimac = #{wifimac,jdbcType=VARCHAR},
		logintime = #{logintime,jdbcType=TIMESTAMP},
		apkversion = #{apkversion,jdbcType=VARCHAR},
		onlinestatus = #{onlinestatus,jdbcType=INTEGER},
		romversion = #{romversion,jdbcType=VARCHAR},
		romfirmware = #{romfirmware,jdbcType=VARCHAR},
		apptype = #{apptype,jdbcType=VARCHAR}
		where stbtoken = #{stbtoken,jdbcType=VARCHAR}
	</update>
</mapper>