<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fs.comm.mapper.UserTokenMapper" >
  <resultMap id="BaseResultMap" type="com.fs.comm.model.UserToken" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token_code" property="tokenCode" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  
  <insert id="insert" parameterType="com.fs.comm.model.UserToken" >
    insert into t_token (token_code, user_id) values (#{tokenCode}, #{userId})
  </insert>
  
  
  <select id="getTokenByUserID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select * from t_token where user_id=#{userId}
  </select>
</mapper>