<?xml version="1.0" encoding="gbk" ?>
<Config EndTag="RowBlank" HeaderIndex="" DataIndex="" SEQ="" useTransaction="true">
  <Table Name="" DealRepeat="ignore" ExcludedColumns="" >
    <Column IsPrimaryKey="" ColumnName="" HeaderText="" Required="true" DataType="number" DataLength="100" DefaultValue="" Comment="">
      <CodeTalbe Name="" PrimaryKey=""  ReferenceColumn="" Condition=""></CodeTalbe>
    </Column>
  </Table>
</Config>
<!--DataType为string、number等-->
<!--对于包含codetable的列，其columnName为实际主表中的列-->
<!--对于没有Column配置的认为从0列开始列依次对应，并且插入之前不会执行删除操作-->
<!--字段只列出需要手动插入的，对于excel中没有而需要的也要列出，只是HeaderText为空或没有而已-->
<!--DefaultValue -->
<!--EndFlag可以是RowBlank，也可以是列序号-->
<!--DealRepeat 在插入之前是否进行操作（delete: 删除; update: 更新; ignore: 忽略）-->
<!--IsPrimaryKey是为了判断重复条件做准备的（有可能它不是真正的主键）-->
<!--ExcludedColumns 排除列的集合，此列中的列将不会导入数据库中，多个用","分割-->
<!--必须配置导入列-->
